
  <h2>stock-item-works!</h2>
<div class="stock-con" >
    <!-- <div class="stock-con" *ngFor="let stock of stocks; even as isEven; index as i; trackBy: trackStockByCode" [class.even-item]="isEven"> -->
  <!-- index:目前索引 even:雙數項目(從0起算) odd:奇數項目 first:第一個項目 last:最後一個項目 -->
    <!-- <div class="stock-con" *ngFor="let stock of stocks; even as isEven; index as i" [class.even-item]="isEven"> -->
  <!-- <div class="name"><h3>{{stock.name}}</h3>-<h4>({{stock.code}})</h4></div> -->
  <div class="name">{{stock.name + '(' + stock.code + ')'}}</div>
  <div class="exchange">{{stock.exchange}}</div>
  <!-- <div class="price" [class]="changes ? 'positive' : 'negative'" >$ {{price}}</div> -->
  <!-- <div class="price" [class]="stock.isPositivechange() ? 'positive' : 'negative'" >$ {{stock.price}}</div> -->
  <!-- <div class="price" [ngClass]="stockClasses" >$ {{stock.price}}</div> -->
  <div class="price" [class.positive]="stock.isPositivechange()" [class.negative]="!stock.isPositivechange()"
     >$ {{stock.price}}</div>
  <!-- <div class="price" [ngStyle]="stockStyles">$ {{stock.price}}</div> -->

  <!-- <button (click)="toggleFavorite($event)"
  [disabled]="stock.favorite">Add to Favorite</button> -->
  <button (click)="toggleFav($event)"
  *ngIf="!stock.favorite">加到最愛</button>
  <button (click)="toggleFav($event)"
  *ngIf="stock.favorite">移出最愛</button>
  <!-- <button (click)="toggleFavorite($event, i)" -->
  <!-- <button (click)="toggleFavorite($event)" -->
  <!-- <button (click)="onToggleFavorite($event)"
  [disabled]="stock.favorite">Add to Favorite</button>
  <button (click)="changeStockPrice()"> change price</button> -->
  <ng-content></ng-content>
</div>

