<h2>
  create stock form
</h2>

<div class="form-group">
    <form [formGroup]="stockForm" (ngSubmit)="onSubmit()">
      <button type="submit">送出</button>
      <button type="button" (click)="resetForm()">重設</button>
      <button type="button" (click)="loadStockFromServer()">從server載入股票</button>
      <button type="button" (click)="patchStockForm()">股票補丁</button>
  </form>
</div>
<!-- <h4>Stock name is {{stock.name}}</h4> -->
<p>Form Control value:{{stockForm.value | json}}</p>
<p>Form Control status:{{stockForm.status | json}}</p>
<!-- <p>Form Control value:{{nameControl.value | json}}</p>
<p>Form Control status:{{nameControl.status | json}}</p> -->
<!-- (input)="stock.name=$event.target.value"> -->
